body {
    background-color:rgb(28 4 14);
    color:aliceblue;
    font-family: "Newsreader", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: rgb(0, 0, 0);
    font-family: "Newsreader", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 70%;
}

img {
    max-width: 50%;
}
